body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f0f4f8;
}

.home-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    background: linear-gradient(to right, #6a11cb, #2575fc);
    color: white;
}

.home-content {
    max-width: 600px;
    padding: 20px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    transition: transform 0.2s ease-in-out;
}

.home-robot-icon {
    font-size: 5rem;
    margin-bottom: 20px;
}

.home-content h1 {
    font-size: 3rem;
    margin-bottom: 10px;
}

.home-content p {
    font-size: 1.5rem;
    margin-top: 0;
}

.home-button {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 20px;
    font-size: 1.2rem;
    color: white;
    background-color: #2575fc;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.home-button:hover {
    background-color: #1a5dbb;
}